PENTAHO_VERSION=9.4.0.0-343
PENTAHO_HTTP_PORT=8090

POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=CHANGE_ME

HIBERNATE_DB=hibernate
HIBERNATE_USER=hibuser
HIBERNATE_PASSWORD=CHANGE_ME

QUARTZ_DB=quartz
QUARTZ_USER=pentaho_user
QUARTZ_PASSWORD=CHANGE_ME

JACKRABBIT_DB=jackrabbit
JACKRABBIT_USER=jcr_user
JACKRABBIT_PASSWORD=CHANGE_ME

PENTAHO_MIN_MEMORY=1024m
PENTAHO_MAX_MEMORY=3072m

TZ=Europe/Madrid
